
fastapi==0.136.1
fastjsonschema==2.21.2
fonttools==4.62.1
joblib==1.5.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mistune==3.2.0
narwhals==2.20.0
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.5.5
notebook_shim==0.2.4
numba==0.65.0
numpy==2.4.4
packaging==26.1
pandas==3.0.2
pydantic==2.13.3
pydantic_core==2.46.3
scikit-learn==1.8.0
scipy==1.17.1

sklearn-compat==0.1.5

streamlit==1.56.0


uvicorn==0.46.0

xgboost==3.2.0
